@use '_colors.scss' as *;
@use '_reset.scss' as *;

.dashboard {
	display: flex;
	&__icon {
		position: fixed;
		padding: 1em;
		font-size: 2.4rem;
	}
	&__left-menu {
		position: sticky;
		top: 0;
		background-color: $dark;
		min-width: 10%;
		height: 100%;
		top: 0;
	}
	&__menu {
		max-width: 100%;
		background-color: $gray;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__position-icon {
		margin: 2em 1em;
		display: flex;
		align-items: center;
	}
	&__menu-item:hover,
	&__position-icon:hover {
		color: $green;
		cursor: pointer;
	}

	&__menu-items {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__menu-item {
		color: $white;
		padding: 1.4em;
		font-size: 1rem;
	}
}

.section {
	min-width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	&__card {
		overflow: hidden;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		min-width: 40%;
		height: 150px;
		background-color: rgba(13, 115, 119, 0.5);
		font-weight: bold;
		margin: 2em;
		border-radius: 15px;
		&--gray {
			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-direction: column;
			width: 40%;
			height: 150px;
			margin: 2em;
			border-radius: 15px;
			background-color: $gray;
		}
	}
	&__card:hover{
		cursor: pointer;
		background-color: rgba(0, 247, 255, 0.5);
	}
	&__text-card{
		position: absolute;
		z-index: 2;
		color: #fff
	}
	&__opacity-card{
		z-index: -2;
		position: absolute;
		top: 0;
		height: 100%;
		background-image: url('../image/learnicon.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		min-width: 100%;
		border-radius: 15px;
	}
	&__opacity-exam-card{
		z-index: -2;
		position: absolute;
		top: 0;
		height: 100%;
		background-image: url('../image/test_icon.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		min-width: 100%;
		border-radius: 15px;
	}
	&__hello-word{
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		align-items: flex-start;
		width: 85%;
	}
	&__left-box,
	&__right-box {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	&__motivate {
		padding: 1em;
	}
}

@media (max-width: 768px) {
	.dashboard {
		&__menu-item {
			display: none;
		}
		&__icon {
			padding: 0.5em;
		}
	}

	.section{
		&__card{
			width: 100%;
		&--gray{
			width: 100%;
		}
		}

	}
}
