@use '_colors.scss' as *;
@use '_reset.scss' as *;

.section {
	min-width: 80%;
	&__card {
		overflow: hidden;
		position: relative;
		min-width: 40%;
		height: 150px;
		background-color: rgba(13, 115, 119, 0.5);
		transition: background-color 0.7s;
		font-weight: bold;
		margin: 2em;
		border-radius: 15px;
		color: $white;
		&--gray {
			width: 40%;
			height: 150px;
			margin: 2em;
			border-radius: 15px;
			background-color: $gray;
			color: $white;
		}
		&--point {
			color: $white;
			width: 40%;
			height: 150px;
			margin: 2em;
			border-radius: 15px;
			background-color: $green;
		}
	}
	&__card:hover {
		cursor: pointer;
		background-color: rgba(0, 247, 255, 0.5);
	}
	&__text-card {
		position: absolute;
		z-index: 2;
		color: $white;
	}
	&__opacity-card {
		color: $white;
		z-index: -2;
		position: absolute;
		top: 0;
		height: 100%;
		background-image: url('../image/learnicon.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		min-width: 100%;
		border-radius: 15px;
	}
	&__opacity-exam-card {
		color: $white;
		z-index: -2;
		position: absolute;
		top: 0;
		height: 100%;
		background-image: url('../image/test_icon.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		min-width: 100%;
		border-radius: 15px;
	}
	&__hello-word {
		margin: 1.2em 0em;
		width: 85%;
	}
	&__left-box,
	&__right-box {
		width: 100%;
		flex-wrap: wrap;
	}
	&__motivate {
		padding: 1em;
		color: $white;
	}
}

@media (max-width: 768px) {
	.section {
		&__dashboard {
			&__menu-items {
				display: block;
				color: $white;
			}
		}
		&__card {
			width: 100%;
			&--gray {
				width: 100%;
			}
			&--point {
				width: 100%;
			}
		}
	}
}
