@use '_colors.scss' as *;
@use '_reset.scss' as *;

.exam {
	&__radio {
		display: flex;
		align-items: center;
		background-color: $gray;
		color: $white;
		border-radius: 15px;
		padding: 1em;
		margin: 0.7em;
		min-width: 80%;
		margin-left: 10%;
	}

	&__text-decorate {
		font-weight: bold;
	}
	&__question-space {
		padding: 1em;
	}
	&__radio-space {
		margin: 0 20px;
	}
}

.space-div {
	margin-left: 20px;
}
