@use '_colors.scss' as *;
@use '_reset.scss' as *;

.learn {
	position: relative;
	&__mobile-top-icon {
		display: none;
	}
	&__mobile-top-settings {
		display: none;
	}
	&__navigation {
		background-color: $green;
		position: sticky;
		top: 0;
		height: 100vh;
		width: 5vw;
	}
	&__navigation-icon {
		color: $white;
		padding: 2em 2em;
		transition: color 1s;
	}

	&__navigation-icon:hover {
		cursor: pointer;
		color: $contrast-color;
	}
	&__topics-section-desktop-item:hover {
		cursor: pointer;
		color: $contrast-color;
		transition: color 0.7s;
	}
	&__topics-section-desktop {
		display: block;
		background-color: $green;
		position: sticky;
		overflow: hidden;
		min-width: 15%;
		background-color: $gray;
		color: $white;
		font-weight: bold;
	}
	&__topics-section-desktop-item {
		margin: 2em 0;
		padding: 1em;
		width: 100%;
	}
	&__topics-section-mobile,
	&__topic-section-item {
		display: none;
	}

	&__description {
		margin-top: 125px;
	}
	&__description {
		max-width: 75%;
		margin: 1em;
	}
}

@media (max-width: 768px) {
	.learn {
		margin-top: 100px;
		display: flex;
		justify-content: center;
		&__mobile-top-icon {
			z-index: 10;
			background-color: $green;
			color: $white;
			position: fixed;
			top: 0;
			width: 100%;
			display: flex;
			padding: 0.3em;
			justify-content: space-between;
			font-size: 3.2em;
		}
		&__topics-section-desktop,
		&__navigation {
			display: none;
			position: fixed;
		}
		&__topics-section-mobile,
		&__settings-menu {
			margin-top: 75px;
			position: fixed;
			top: 0;
			left: 0;
			display: block;
			background-color: $green;
			width: 100vw;
			height: 100%;
			color: $white;
			z-index: 9;
			overflow-y: scroll;
		}
		&__topics-section-mobile-close {
			display: none;
		}

		&__topic-section-item,
		&__settings-section-item {
			display: block;
			z-index: 100;
			margin: 2em 1em;
			padding: 1em;
		}
	}
}
