@use './reset' as *;
@use './colors' as *;
@use './style.scss' as *;

//display
//position //top right bottom left
//displayflex / justifycontent / align-items /flex-direction
//width / lub max-min
//height
//background-color
//color
//margin
//padding
//transition
//z-index

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.title {
	color: $white;
	font-style: 2rem;
	text-align: center;
}

.nav {
	position: fixed;
	top: 0;
	max-height: 10%;
	min-width: 100%;
	background-color: $dark;
	color: $white;
	padding: 0.5em;
	z-index: 5;
	&__desktop-items {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
	}

	&__desktop-item {
		display: none;
		margin: 1em;
		font-size: 1.2rem;
		text-decoration: uppercase;
		transition: color 0.5s;
		font-weight: bold;
		&--blue-contrast,
		&--gray-contrast {
			display: none;
			margin: 1em;
			padding: 0.5em 2em;
			border-radius: 15px;
			background-color: $contrast-color;
			font-weight: bold;
		}
		&--gray-contrast {
			background-color: $gray;
		}
	}

	&__mobile-items {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: flex-end;
		position: fixed;
		top: 0;
		width: 110%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		transform: translateX(-10%);
	}
	&__close-mobile-items {
		display: none;
	}
	&__mobile-item {
		padding: 2em;
	}
	&__logo {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		padding: 1em;
		font-size: 1.8rem;
		transition: color 0.5s;
	}
	&__desktop-item:hover,
	&__logo:hover {
		cursor: pointer;
		color: $sky;
	}
	&__burger-bar {
		padding: 0.3em;
		font-size: 3rem;
		display: block;
		z-index: 4;
	}
}

.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	overflow-y: hidden;
	background-color: rgba(64, 64, 64, 0.6);
	&__title,
	&__subtitle {
		padding: 1em 0;
		color: $white;
	}

	&__belt {
		position: absolute;
		left: 50px;
		top: -200px;
		height: 150vh;
		width: 15vw;
		transform: rotate(45deg);
		background-color: $green;
		z-index: 1;
		display: none;
	}

	&__title {
		font-weight: bold;
		font-size: 3rem;
	}
	&__subtitle {
		font-size: 1rem;
		color: #ccc;
	}
	&__left-box {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		overflow-y: hidden;
		z-index: 2;
	}
	&__opacity-box {
		position: absolute;
		top: 0;
		background-image: url('../image/cloud.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		height: 100%;
		width: 100%;
		z-index: -1;
	}

	&__btn {
		margin: 2em 0;
		padding: 1em 2em;
		border-radius: 15px;
		color: $white;
		background-color: $contrast-color;
		font-size: 1rem;
		font-weight: bold;
		border: none;
	}
	&__arrow-down {
		position: absolute;
		bottom: 0;
		color: white;
		font-size: 3rem;
		font-weight: bold;
	}
}

.offerts {
	margin: 3em 0;
	max-height: 100%;
	min-width: 100%;
	&__cards {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
	}
	&__section-card {
		margin: 1em;
		padding: 1em;
		height: 100%;
	}
	&__card {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 350px;
		border-radius: 15px;
		width: 200px;
		background-color: $gray;
	}
	&__icon {
		font-size: 5rem;
		color: $white;
	}
	&__card-description {
		padding: 1em;
		text-align: center;
		height: 100px;
		width: 200px;
		color: $white;
	}
}

.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	max-width: 100%;
	&__title {
		color: $white;
		text-align: center;
		padding: 1em;
	}
	&__box-right {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	&__input-email {
		background-color: $gray;
		padding: 15px;
		margin: 1em 0;
		width: 80%;
		height: 50px;
		border-radius: 15px;
	}
	&__textarea {
		background-color: $gray;
		margin: 1em 0;
		padding: 15px;
		height: 300px;
		border-radius: 15px;
		width: 80%;
	}
	&__box-left {
		text-align: center;
		font-size: 1.3rem;
		color: $white;
		padding: 1em;
		display: flex;
		justify-content: center;
		flex-direction: column;
		height: 400px;
		width: 80%;
		margin: 2em 1em;
		background-color: $green;
	}
	&__contact-header {
		margin: 1em;
	}
	&__btn {
		font-weight: bold;
		margin: 1em 0;
		width: 80%;
		height: 60px;
		border-radius: 15px;
		font-size: 1rem;
		background-color: $contrast-color;
		color: $white;
	}
	&__description {
		display: flex;
		margin: 1em;
	}
	&__contact-icon {
		margin: 0 1em;
	}
}

@media (min-width: 992px) {
	.nav {
		&__desktop-item {
			display: block;

			&--gray-contrast {
				display: block;
			}
			&--blue-contrast {
				display: block;
			}
		}
		&__burger-bar,
		&__mobile-items {
			display: none;
		}

		&__logo {
			display: block;
		}
	}

	.header {
		&__title {
			text-align: center;
			color: $white;
		}
		&__left-box {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
		&__img {
			display: block;
		}
		&__belt {
			display: block;
		}
	}

	.contact {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: center;
	}

	.footer {
		padding: 2em;
		text-align: center;
	}
}
