@use './_reset' as *;
@use './_colors' as *;
@use './animations' as *;

//link
a {
	transition: 0.5s color;
}

a:hover {
	color: $green;
}

//header
.btn {
	background-color: $contrast-color;
	color: $white;
	border-radius: 15px;
	font-size: 1rem;
	font-weight: bold;
	border: none;
	margin: 1em 0;
}

.nav {
	background-color: $white;
	position: fixed;
	top: 0;
	min-height: 10%;
	min-width: 100%;
	opacity: 2;
	padding: 0.5em;
	z-index: 5;

	&__desktop-item {
		display: block;
		margin: 1em;
		font-size: 1rem;
		padding: 0.5em 2em;
		transition: color 0.5s;
		font-weight: bold;

		&--blue-contrast,
		&--gray-contrast {
			display: block;
			margin: 1em;
			padding: 0.5em 2em;
			border-radius: 10px;
			background-color: $contrast-color;
			font-weight: bold;
			transition: background-color 1s;
			color: $white;
		}
		&--blue-contrast:hover,
		&--gray-contrast:hover {
			cursor: pointer;
			background-color: $green;
		}

		&--gray-contrast {
			background-color: $gray;
		}
	}

	&__mobile-items {
		position: fixed;
		top: 0;
		display: none;
	}
	&__mobile-item {
		display: none;
	}

	&__close-mobile-items {
		display: none;
	}
	&__mobile-item {
		padding: 2em 0;
	}
	&__logo {
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		padding: 1em;
		font-size: 1.8rem;
		transition: color 0.5s;
	}
	&__desktop-item:hover,
	&__logo:hover {
		cursor: pointer;
		color: $sky;
	}
	&__burger-bar {
		padding: 0.3em;
		font-size: 3rem;
		display: none;
		z-index: 4;
	}
}

.header {
	display: flex;
	flex-direction: column;
	max-width: 100vw;
	min-height: 100vh;
	position: relative;
	&__opactiy-box {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100vh;
		background-image: url('../image/cloud.jpg');
		opacity: 0.5;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		z-index: -1;
	}
	&__title,
	&__subtitle {
		padding: 1em 0;
	}

	&__title-header {
		font-weight: bold;
		font-size: 4rem;
	}
	&__subtitle {
		text-align: center;
		font-size: 1.2rem;
	}
	&__box {
		flex-direction: column;
	}

	&__register-btn {
		padding: 1em 2em;
		transition: background-color 0.5s;
	}
	&__register-btn:hover {
		cursor: pointer;
		background-color: $green;
	}
	&__arrow-down {
		animation: arrowUpDown 2s infinite;
		position: fixed;
		bottom: 0;
		padding: 0.5em 2em;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		color: $dark;
		font-size: 3rem;
		font-weight: bold;
		transition: color 1s;
		scroll-behavior: smooth;
		z-index: 2;
	}
	&__arrow-down:hover {
		color: $green;
		cursor: pointer;
	}
}
//title header

.title {
	position: relative;
	font-style: 2rem;
	padding: 2em 4.2em;
}
.title::before {
	position: absolute;
	content: '';
	width: 20px;
	height: 25%;
	margin: 0 -1em;
	background-color: $green;
	z-index: -1;
}

.offerts {
	position: relative;
	margin: 3em 0;
	max-height: 100%;
	min-width: 100%;
	overflow: hidden;
	&__cards {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
	}

	&__section-card {
		margin: 1em;
		padding: 2em;
		height: 100%;
		transition: 1s transform;
	}
	&__section-card:hover {
		transform: scale(1.2);
	}
	&__card {
		position: relative;
		min-height: 350px;
		border-radius: 15px;
		width: 200px;
		background-color: $white;
	}

	&__card::before {
		position: absolute;
		left: -6px;
		bottom: -6px;
		content: '';
		border: 10px solid $green;
		min-height: 100%;
		min-width: 100%;
		z-index: -1;
		border-radius: 15px;
		filter: blur(4px);
	}
	&__icon {
		font-size: 5rem;
		color: $gray;
	}
	&__card-description {
		font-weight: bold;
		line-height: 1.4rem;
		padding: 1em;
		text-align: center;
		height: 100px;
		width: 200px;
		color: $gray;
	}
}

.contact {
	flex-direction: row;
	min-height: 100%;
	max-width: 100%;

	&__box-right {
		width: 100%;
		flex-direction: column;
	}
	&__box-left {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		justify-content: center;
		font-size: 1.2rem;
		color: $white;
		padding: 1em;
		height: 400px;
		width: 80%;
		margin: 2em 1em;
		background-color: $green;
	}
	&__contact-header {
		margin: 1em;
	}
	&__contact-btn {
		width: 80%;
		height: 60px;
		transition: 0.7s background-color;
	}
	&__contact-btn:hover {
		cursor: pointer;
		background-color: $green;
	}
	&__description {
		display: flex;
		margin: 0.8em 0.5em;
	}
	&__contact-icon {
		margin: 0 0.3em;
	}
}
.footer {
	position: relative;
	background-color: $white;
	z-index: 1;
	max-width: 100%;
	padding: 2em;
	text-align: center;
}

@media (max-width: 992px) {
	.nav {
		&__desktop-item {
			display: none;

			&--gray-contrast {
				display: none;
			}
			&--blue-contrast {
				display: none;
			}
		}
		&__burger-bar,
		&__mobile-items {
			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-direction: column;
			font-weight: bold;
			transition: 1s color;
		}
		&__burger-bar:hover {
			cursor: pointer;
			color: $green;
		}
		&__mobile-items {
			animation: moveMenuRight 1s ease-in-out;
			padding: 0 3em;
			width: 85%;
			height: 100%;
			background-color: rgba(13, 115, 119, 0.9);
			color: $strong-white;
			transform: translateX(-5%);
		}
		&__mobile-items:hover {
			cursor: pointer;
			color: $contrast-color;
		}
		&__mobile-item {
			display: flex;
			justify-content: flex-end;
		}

		&__logo {
			display: none;
		}
		&__close-icon {
			&--active {
				display: block;
			}
		}
	}

	//mobile header
	.header {
		width: 100%;
		&__left-box {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
	}

	.contact {
		flex-wrap: wrap;
	}
}
