@use './_reset.scss' as *;
@use './_colors.scss' as *;

.nav {
	&__register-items {
		display: flex;
		justify-content: center;
	}
}

.register {
	&__header {
		text-align: center;
		margin-top: 200px;
	}
	&__block {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin: 2em;
	}

	&__input {
		border-radius: 15px;
		min-width: 40vw;
		background-color: $gray;
		padding: 1em;
		margin: 1.5em 0;
		border: 1px solid rgba(0, 0, 0, 0.3);
	}
	&__checkbox {
		flex-direction: column;
		padding: 0.5em;
	}
	&__check {
		margin: 0.3em;
	}
	&__btn {
		background-color: $contrast-color;
		color: $white;
		font-weight: bold;
		border-radius: 20px;
		min-width: 40vw;
		min-height: 50px;
		margin: 1.5em;
	}
	&__login-link {
		font-weight: bold;
		color: $contrast-color;
	}
}
